<nav class="navbar navbar-dark">
  Clientes
  </nav>
  <div class="container">
      <div class="row justify-content-center p-2">
          <h1>CRUD Clientes</h1>
      </div>
      <div class="form-group">
          <label for="nombres">Nombres:</label> 
          <input type="text" class="form-control" [(ngModel)]="clienteNombres" id="nombres" required>
      </div>
      <div class="form-group">
        <label for="apellidos">Apellidos:</label>
        <input type="text" class="form-control" [(ngModel)]="clienteApellidos" id="apellidos" required>
      </div>
      <div class="form-group">
          <label for="telefono">No. de Telefono:</label>
          <input type="tel" class="form-control" [(ngModel)]="clienteTelefono" id="telefono" required pattern="[0-9]{10}">
      </div>
      <div class="form-group">
          <label for="direccion">Direccion:</label>
          <input type="text" class="form-control" [(ngModel)]="clienteDireccion" id="direccion" required>
      </div>
      <div class="form-group">
        <label for="fechanac">Fecha de nacimiento:</label>
        <input type="date" class="form-control" [(ngModel)]="clienteFecha" id="fechanac" required>
      </div>
      <div class="form-group">
        <label for="correos">Correos:</label>
        <input type="email" class="form-control" [(ngModel)]="clienteCorreos" id="correos" required>
        <input type="email" class="form-control" [(ngModel)]="clienteCorreos" id="correos" required>
      </div>
      <div class="form-group">
        <label for="comentarios">¿Hay alguna otra información que pienses que nos podría interesar o deberíamos saber?</label><br>
        <textarea id="comentarios" [(ngModel)]="clienteComentarios" rows="3" cols="100"></textarea> 
      </div>
      <div class="form-group">
          <button class="btn btn-primary" (click)="CrearRegistro()" [disabled]="!clienteNombres || !clienteApellidos || !clienteTelefono || !clienteDireccion || !clienteFecha || !clienteCorreos || !clienteComentarios">Crear Cliente</button>
      </div>
  </div>