<nav class="navbar navbar-dark">
  Clientes
  </nav>
  <div class="container">
      <div class="row justify-content-center p-2">
          <h1>CRUD Clientes</h1>
      </div>
      <div class="form-group">
          <label for="nombres">Ingrese su nombres:</label> 
          <input type="text" class="form-control" id="nombres">
      </div>
      <div class="form-group">
        <label for="apellidos">Ingrese sus apellidos:</label>
        <input type="text" class="form-control" id="apellidos">
      </div>
      <div class="form-group">
          <label for="telefono">Ingrese su No. de Telefono:</label>
          <input type="number" class="form-control" id="telefono">
      </div>
      <div class="form-group">
          <label for="direccion">Ingrese su direccion:</label>
          <input type="text" class="form-control" id="direccion">
      </div>
      <div class="form-group">
        <label for="fechanac">Ingrese su fecha de nacimiento:</label>
        <input type="date" class="form-control" id="fechanac">
      </div>
      <div class="form-group">
        <label for="correos">Ingrese sus correos:</label>
        <input type="email" class="form-control" id="correos">
        <input type="email" class="form-control" id="correos">
      </div>
      <div class="form-group">
          <button class="btn btn-primary">Crear Cliente</button>
      </div>
  </div>